<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">
    <center><p style="font-size:70px">Welcome to ClubHub!</p>
    	<p style="font-size: 30px"> What is ClubHub? </p>
        <p>ClubHub is a website that allows students to find and join clubs on campus. ClubHub creates profiles for almost every club on campus, and students can view these profiles to find a description about the club, contact information, upcoming events and much more. </p>
        <p>Students can find clubs that they want to join by searching through our collection of clubs using the Find Clubs page. All the clubs on campus are sorted in a variety of categories, and makes it easy for students to locate clubs and get involved!</p>
        <p>ClubHub also promotes the creation of clubs. ClubHub makes this easy by allowing users to create club profiles, which can be seen by anyone who accesses ClubHub.</p>
        

    </center>
</div>