<br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div style="height:900px" id="background">
    <center><p style="font-size:70px">Welcome to ClubHub!</p></center>
	<div style="float:left; padding:10px"><img src="http://www.illinoisengineer.com/images/ISPEImages/TeamImage.jpg"></div>
    	<div><p style="font-size: 30px"> What is ClubHub?</p>
        <h4 style="padding:15px">ClubHub is a website that allows students to find and join clubs on campus. ClubHub creates profiles for almost every club on campus, and students can view these profiles to find a description about the club, contact information, upcoming events and much more.<br>
        Students can find clubs that they want to join by searching through our collection of clubs using the Find Clubs page. All the clubs on campus are sorted in a variety of categories, and makes it easy for students to locate clubs and get involved!<br>
        ClubHub also promotes the creation of clubs. ClubHub makes this easy by allowing users to create club profiles, which can be seen by anyone who accesses ClubHub.</h4>
	</div>
<br><br><br>
	<h1>The Clubhub Team</h1>
		<center>
					<div style="float:left; padding-left:50px"><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/1969386_10202425318626111_787265481_n.jpg?oh=635a97d26f2031b484d5fad63b8ce9a5&oe=57AC78EE" width="200px" height="200"/>
						<h3>Alex Cacas</h3></div>
					<div style="float:left; padding-left:50px"><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/10157288_751800468166141_1189252952_n.jpg?oh=ed958045f5813daa20ed2bb014ba6fb1&oe=57A5CD75" width="200px" height="200px"/>
						<h3>Jashan Singh</h3></div>
					<div style="float:left; padding-left:50px"><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/13082782_1092337597453291_7044179711334066716_n.jpg?oh=c0d73792e14f5b6e7cdcd37b24e72561&oe=57DD8214" width="200px" height="200px"/>
						<h3>Jo-Anna Marie Reyes</h3></div>
					<div style="float:left; padding-left:50px"><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12096228_10206751127049833_2214029939945135755_n.jpg?oh=3fbe68237659f6d5f2bceb52e6ef51be&oe=579D3F68" width="200px" height="200px"/>
						<h3>Kaanchana Allanki</h3></div>
					<div style="float:left; padding-left:50px"><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/10537861_10203434533798292_3934384508991664092_n.jpg?oh=209a4db4ecb86bb4fb1965244748ccae&oe=57D81828" width="200px" height="200px"/>
						<h3>Michael Hyun</h3></div>
	</center>
	
	</div>
   
