<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div style="height:590px" id="background">
    <center><p style="font-size:70px">Welcome to ClubHub!</p></center>
	<div style="float:left; padding:10px"><img src="http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png"></div>
    	<div><p style="font-size: 30px"> What is ClubHub?</p>
        <h4 style="padding:15px">ClubHub is a website that allows students to find and join clubs on campus. ClubHub creates profiles for almost every club on campus, and students can view these profiles to find a description about the club, contact information, upcoming events and much more.<br>
        Students can find clubs that they want to join by searching through our collection of clubs using the Find Clubs page. All the clubs on campus are sorted in a variety of categories, and makes it easy for students to locate clubs and get involved!<br>
        ClubHub also promotes the creation of clubs. ClubHub makes this easy by allowing users to create club profiles, which can be seen by anyone who accesses ClubHub.</h4>
        
	</div>
   
</div>