<style>
            body {
                background: url("assets/images.jpg") repeat;
            }
            #banner {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 200px;
                z-index: -1;
            }
    #background{
        background-color:white;
    }
    table{
        width:60%;  
    }
</style><br><br><br><br><br><br><br><br><br>
        <img id="banner" src="/assets/images.jpg"/>
<div id="background">
    <center><p style="font-size:70px">About ClubHub</p>
        <p>Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub </p><p>Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub Clubhub </p>
    </center>
</div>