<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">

<h1>New Org Page</h1>

<%= render 'form' %>

<%= link_to 'Back', orgpages_path %>
</div>