<style>
            body {
                background: url("assets/images.jpg") repeat;
            }
            #banner {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 200px;
                z-index: -1;
            }
    #background{
        background-color:white;
    }
</style>
    <br><br><br><br><br><br><br><br>
        <img id="banner" src="assets/images.jpg"/>
<div id="background">

<center>
<h1>Search By Category</h1>

<table>
  <thead>
    <tr>

      <th><h2>Genre</h2></th>
      <th colspan="6"></th>
    </tr>

  </thead>
</table>
<p><%= link_to 'Sports', clubs_url() %> </p>
<p><%= link_to 'Multicultural', clubs_url() %> </p>
<p><%= link_to 'Engineering', clubs_url() %> </p>
<p><%= link_to 'Science', clubs_url() %> </p>
<br>
    </center></div>