<center>
<h1>Search By Category</h1>

<table>
  <thead>
    <tr>

      <th><h2>Genre</h2></th>
      <th colspan="6"></th>
    </tr>

  </thead>
</table>
<p><%= link_to 'Sports', clubs_url() %> </p>
<p><%= link_to 'Multicultural', clubs_url() %> </p>
<p><%= link_to 'Engineering', clubs_url() %> </p>
<p><%= link_to 'Science', clubs_url() %> </p>
<br>
</center>