<br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">

<center>
    <br><br>
<h1>Search By Category</h1>
    <table style="width:60%">
    <!-- <tr> -->
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to(category.genre, category_path(category.id)) %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
    </center></div>